
.display-board {
  width: 100%;
  background-color: rgb(555, 200, 789);
  padding: 5%;
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}

.mrgnbtm {
  marginTop: 20px;
  marginLeft: 2px;
}

.centralBody {
  display: flex;
}

.app {
    maxHeight: 100vh;
}